@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400&display=swap");

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
    --cor1: #E3E6F3;
    --cor2: #da332a;

}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    background-color: white;
}
a {
    list-style: none;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
}

header img {
    width: 100px;
    margin-left:-445px;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.308);
}
nav {
    display: flex;
}

nav li {
    padding: 7px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    font-variant: small-caps;
    font-family: 'Lato', sans-serif;

    margin: 10px;
    border-radius: 20px;
}
nav li > a {
    color: #2a2a2ad3;
}
#hero {
     background-color: var(--cor2);
     width: 98%;
     margin: auto;
     height: 90%;
     margin-top:25px;
     display: flex;
     
     
 }
#hero img { 
    width:600px;
    margin-left:-100px;
    display: flex;
}

#hero .esquerdo { 
    width: 50%;
    display: flex;
    justify-content: center;
}


#hero .direito { 
    background-color:var(--cor2);
    margin: 30px 70px;
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h2 { 
    font-size:2.5rem;
    color:#000000;
    text-align: center;
}

#hero h1 { 
    font-size:2rem;
    color:#ffffff;
    font-weight: bolder;
    text-align:center;
    margin-top:10px
}

.button { 
    width:300px;
    background-color: var(--cor1);
    margin: auto;
    text-align: center;
    margin-top:20px;
    padding:5px;
}

.button a { 
    font-size:2.5rem;
    color:rgb(44, 44, 44)
}

              /* CONFIGURAÇÃO ABAIXO ------------- */
              @media (max-width:650px) { 
                header {
                    flex-direction: column;
                    padding: 0;
                    margin: 0 auto;
                    width: 100%;
                }
               
            
                header img {
                    margin-top: 30px;
                    margin-left: auto;
                }
                nav li {
                    margin-top: 25px;
                    margin: 10px;
                    padding: 5px 15px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                nav li a { 
                    font-size:.9rem
                }
                .barra { 
                
                    background-color: #5c6f7e;
                    width:85%;
                    margin-top:30px;
                    padding:10px;
                    margin-left:40px;
                    font-family: Arial, Helvetica, sans-serif;
                    display: flex;
                    padding-left:15px;
                    border-radius: 0px 50px 0px 0px;
                }
#hero {
 background-color: var(--cor2);
 width: 98%;
 margin: auto;
 height: 700px;
 margin-top:25px;
 display: flex;
 flex-direction: column;
 align-items: center;
}
#hero img { 
width:550px;
margin: auto 0px auto 0px;
align-items: center;
justify-content: center;

}

#hero .direito { 
background-color:var(--cor2);
width: 450px;
display: flex;


}

#hero h2 { 
font-size:1.6rem;
color:#000000;
text-align: center;
}

#hero h1 { 
font-size:2.5rem;
color:#ffffff;
font-weight: bolder;
text-align:center;
}

.button { 
width:200px;
background-color: var(--cor1);
margin: auto;
text-align: center;
margin-top:20px;
background-color: #08a55c;
border-radius: 4px;
padding: 10px;

}

.button a { 
font-size:1.5rem;
color:rgb(0, 0, 0)
}
@media (max-width:414px) { 
    header {
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    header img {
        margin-top: 30px;
    }
    nav li {
        margin-top: 15px;
        padding: 3px;
        margin: 4px;
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
   
}
#hero {
    background-color: var(--cor2);
    width: 98%;
    margin: auto;
    margin-top:25px;
    display: flex;
    
    
}
#hero img { 
    width: 500px;
   margin: auto 0px auto -80px;

}

#hero .direito { 
background-color:var(--cor2);
margin: 30px 70px;
padding: 20px;
width: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#hero h2 { 
   font-size:1.6rem;
   color:#000000;
   text-align: center;
}

#hero h1 { 
   font-size:2.5rem;
   color:#ffffff;
   font-weight: bolder;
   text-align:center;
}

.button { 
   width:200px;
   background-color: var(--cor1);
   margin: auto;
   text-align: center;
   margin-top:20px;
   background-color: #08a55c;
   border-radius: 4px;
   padding: 10px;

}

.button a { 
   font-size:1.8rem;
   color:rgb(0, 0, 0)
}
              
            }

           @media (max-width:375px) { 
            #hero {
                background-color: var(--cor2);
                width: 96%;
                margin: auto;
                height: 700px;
                margin-top:25px;
                display: flex;
                
           }
           #hero img { 
               width:440px;
               margin: auto 0px auto -70px;
           
           }
           
           #hero .direito { 
               background-color:var(--cor2);
               width: 350px;
               margin-bottom:50px;
           
           }
           
           #hero h2 { 
               font-size:1.5rem;
               color:#000000;
               text-align: center;
           }
           
           #hero h1 { 
               font-size:2.5rem;
               color:#ffffff;
               font-weight: bolder;
               text-align:center;
           }
           
           .button { 
               width:200px;
               background-color: var(--cor1);
               margin: auto;
               text-align: center;
               margin-top:20px;
               background-color: #08a55c;
               border-radius: 4px;
               padding: 10px;
           
           }
           
           .button a { 
               font-size:1.8rem;
               color:rgb(0, 0, 0)
           }
            
        }
        @media (max-width:320px) { 
            #hero {
                background-color: var(--cor2);
                width: 98%;
                margin: auto;
                height: 700px;
                margin-top:25px;
                display: flex;
                
           }
           #hero img { 
               width:350px;
               margin: auto 0px auto -45px;
           
           }
           
           #hero .direito { 
               background-color:var(--cor2);
               width: 250px;
               display: flex;
               margin-bottom:50px;
           }
           
           #hero h2 { 
               font-size:1.4rem;
               color:#000000;
               text-align: center;
           }
           
           #hero h1 { 
               font-size:1.7rem;
               color:#ffffff;
               font-weight: bolder;
               text-align:center;
           }
           
           .button { 
               width:180px;
               background-color: var(--cor1);
               margin: auto;
               text-align: center;
               margin-top:20px;
               background-color: #08a55c;
               border-radius: 4px;
               padding: 10px;
           
           }
           
           .button a { 
               font-size:1.8rem;
               color:rgb(0, 0, 0)
           }
        }

 
